# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
nfcDemoApp
nfcDemoApp_pn7150
nfcDemoApp_pn7160

# Debug files
*.dSYM/
*.su

# Autotools
.deps/
.libs/
.dirstamp
Makefile.in
Makefile
/aclocal.m4
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/stamp-h1
/libnfc-nci.pc
/libnfc-nci-pn7150.pc
/libnfc-nci-pn7160.pc
/config1.h
/config1.h.in
*-libtool

# Test binaries
test_pn7150_minimal
test_pn7150_minimal.c

# Editor
*.orig
*.rej
